<form [formGroup]="form">
    <app-primary-input
            inputName="CEP"
            placeholder="EX: 01001000"
            label="CEP"
            id="cep"
            formControlName="cep"
            (change)="buscarEndereco()"
    ></app-primary-input>
    @for (item of infoList; track $index) {
        <app-primary-input
            [inputName]="item.name"
            [placeholder]="item.placeholder"
            [id]="item.name"
            [label]="item.name"
            [formControlName]="item.name"
        ></app-primary-input>
    }
    <button type="submit">Enviar</button>
</form>
